<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CAF Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c3c66d">  <td>20/10/30 17:06:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login._Verify_that_user_is_able_to_login_with_valid_credentials()[pri:0, instance:tests.Login@6ae5aa72]">_Verify_that_user_is_able_to_login_with_valid_credentials</td> 
  <td>TestNG-tests-1@1941267547</td>   <td></td> </tr>
<tr bgcolor="acf68f">  <td>20/10/30 17:06:58</td>   <td>16929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register._Verify_that_user_is_able_to_register()[pri:0, instance:tests.Register@222545dc]">_Verify_that_user_is_able_to_register</td> 
  <td>TestNG-tests-1@1941267547</td>   <td></td> </tr>
<tr bgcolor="ce84aa">  <td>20/10/30 17:07:14</td>   <td>33542</td> <td>&nbsp;</td><td title="&lt;&lt;LoginSteps.testteardown()[pri:0, instance:tests.Login@6ae5aa72]">&lt;&lt;testteardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1941267547</td>   <td></td> </tr>
<tr bgcolor="79fba7">  <td>20/10/30 17:07:15</td>   <td>34386</td> <td>&nbsp;</td><td title="&lt;&lt;RegisterSteps.testteardown()[pri:0, instance:tests.Register@222545dc]">&lt;&lt;testteardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1941267547</td>   <td></td> </tr>
</table>
