<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c1bced">  <td>20/10/24 19:41:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login._Verify_that_user_is_able_to_login_with_valid_credentials()[pri:0, instance:tests.Login@14d3bc22]">_Verify_that_user_is_able_to_login_with_valid_credentials</td> 
  <td>main@98394724</td>   <td></td> </tr>
<tr bgcolor="b479da">  <td>20/10/24 19:41:18</td>   <td>-16858</td> <td>&nbsp;</td><td title="&gt;&gt;LoginSteps.setup()[pri:0, instance:tests.Login@14d3bc22]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@98394724</td>   <td></td> </tr>
<tr bgcolor="b479da">  <td>20/10/24 19:41:36</td>   <td>1099</td> <td>&nbsp;</td><td title="&lt;&lt;LoginSteps.testteardown()[pri:0, instance:tests.Login@14d3bc22]">&lt;&lt;testteardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@98394724</td>   <td></td> </tr>
</table>
