<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <style></style>
  <style>
    .loader-wrapper.loderhide[_ngcontent-serverApp-c1] {
      display: none
    }
  </style>
  <style>
    .owl-theme[_ngcontent-serverApp-c14] {
      display: block;
    }
  </style>

</head>

<body class="  pace-running pace-done">
  <app-modern-sass-header _nghost-serverapp-c4="">
    <section _ngcontent-serverapp-c4="" class="saas2 header" id="home">
      <div _ngcontent-serverapp-c4="" class="saas2-content ">
        <div _ngcontent-serverapp-c4="" class="fullbg" style="background-image: url('assets/images/logo/full_bg.svg');background-image: url('assets/images/logo/full_circles.svg');
          ">
          <div _ngcontent-serverapp-c4="" class="container">
            <div _ngcontent-serverapp-c4="" class="row">
              <div class="col-xl-6">
                <div class='register__container'>
                  <ngx-ui-loader fgsColor="#d35400" overlayColor="rgba(40,40,40,0.3)" pbColor="rgba(0,0,0,0)"
                    hasProgressBar=false>
                  </ngx-ui-loader>
                  <form id="register-form" name="registerForm" [formGroup]="registerForm" novalidate>
                    <div class='register__header'>
                      <span class="title" id="title"><b>Create your account</b></span>
                    </div>
                    <div class="col">
                      <mat-form-field class="input externalInput">
                        <mat-label id="fullnameLabel">Fullname</mat-label>
                        <input matInput formControlName="fullname" pattern="^[a-zA-Z][\sa-zA-Z]*"
                          style="width: 94%;margin-left: 4%;" id="fullname" required>
                        <mat-icon matSuffix class="fieldicon" id="fullnameIcon">account_circle</mat-icon>
                        <mat-error>
                          Fullname is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <br>
                    <div class="col">
                      <mat-form-field class="input externalInput">
                        <mat-label id="emailLabel">Email</mat-label>
                        <input matInput formControlName="email" required id="email" [readonly]="isDisabled"
                          style="width: 94%;margin-left: 4%;">
                        <mat-icon matSuffix class="fieldicon" id="emailIcon">mail</mat-icon>
                        <mat-error *ngIf="registerForm.get('email').hasError('required')">
                          Email is required
                        </mat-error>
                        <mat-error *ngIf="!registerForm.get('email').hasError('required') &&
                                            registerForm.get('email').hasError('email')">
                          Please enter a valid email address
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <br>
                    <div class="col" *ngIf="!isDisabled">
                      <mat-form-field class="input externalInput">
                        <mat-label id="passwordLabel">Password</mat-label>
                        <input matInput type="password" id="password" [type]="show ? 'text' : 'password'"
                          formControlName="password" style="margin-left: 4%;width: 94%" [readonly]="isDisabled">
                        <mat-icon matSuffix class="fieldicon" id="passwordIcon" (click)="passwordView()">
                          {{show ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error>
                          Password is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <br>
                    <div class="col"><span *ngIf="disablebtn == true" class="duplicate-url">Url not available</span>
                      <mat-form-field class="input externalInput">
                        <mat-label id="siteurlLabel">Site Url</mat-label>
                        <input matInput formControlName="domainName" id="domainName" required maxlength="20"
                          autocomplete="off" (keyup)="searchFilter($event.target.value)"
                          style="width: 94%;margin-left: 4%;">
                        <mat-text matSuffix class="secondary">{{UrlName}}</mat-text>
                        <mat-error *ngIf="registerForm.get('domainName').hasError('required')">
                          Site Url is required
                        </mat-error>
                        <mat-error
                          *ngIf="!registerForm.get('domainName').hasError('required') && registerForm.get('domainName').hasError('domainName')">
                          Please enter a valid domain
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <span class="your-account" id="siteurlInfo" *ngIf="disablebtn == false">Your account will be available under
                      this Site URL.</span>
                    <br>
                    <br>
                    <div class="col" style="text-align: center;">
                      <button type='submit' mat-raised-button color="accent" class="submit-button" id="createAccount"
                        aria-label="CREATE AN ACCOUNT" [disabled]="((registerForm.invalid) || disablebtn )"
                        (click)="onSubmit()" style="font-family: poppins;">
                        {{createBtnText}} &nbsp;&nbsp;&nbsp;<img src="assets/images/logo/Login.svg">
                      </button>
                    </div>
                    <br>
                    <!-- <br> -->
                    <div class="col" style="text-align: center;" *ngIf="!isDisabled">
                      <button type="button" id="loginWithGoogle" class="loginBtn googleLoginbtn loginBtn--google" #loginGoogleRef>
                        <b> Continue with Google</b> &nbsp;&nbsp;&nbsp;<img class="googleImg" src="assets/images/logo/google.svg">
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-xl-6 secondPicsection">
                <img src="assets/images/logo/right.png">
                <span class="colborateTxt" id="collaborate-succeed">Collaborate. Build. Succeed!!</span>
                <img class="bgLogo" id="logo" src="assets/images/logo/logo1.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div _ngcontent-serverapp-c4=""></div>
    </section>
  </app-modern-sass-header>
</body>

</html>
